In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [5]:
for every_number in mylist:
    print(every_number)

1
2
3
4
5
6
7
8
9
10

In [6]:
for every_number in mylist:
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [12]:
for every_jelly in mylist:
    print(every_jelly)

1
2
3
4
5
6
7
8
9
10

In [13]:
for _ in mylist:
    print(_)

1
2
3
4
5
6
7
8
9
10

In [15]:
for _ in mylist:
    print('Cool !')

Cool !
Cool !
Cool !
Cool !
Cool !
Cool !
Cool !
Cool !
Cool !
Cool !

In [22]:
for num in mylist:
    #Check for even Numbers
    if num / 2 == 0:
        print(num)
    else:
        print('This will use mod not division')

This will use mod not division
This will use mod not division
This will use mod not division
This will use mod not division
This will use mod not division
This will use mod not division
This will use mod not division
This will use mod not division
This will use mod not division
This will use mod not division

In [23]:
for num in mylist:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [71]:
for num in mylist:
    if num % 2 == 0:
        print(f'\nEven number is: \n{num:2}')
        
    else:
        print('\nOdd number is: \n{0:2}'.format(num))

Odd number is:
 1

Even number is:
 2

Odd number is:
 3

Even number is:
 4

Odd number is:
 5

Even number is:
 6

Odd number is:
 7

Even number is:
 8

Odd number is:
 9

Even number is:
10

In [58]:
print('Hear me laugh \n Good luck')

Hear me laugh
 Good luck

In [73]:
list_sum = 0

for every_num in mylist:
    list_sum = list_sum + every_num
    
print(list_sum)

55

In [74]:
list_sum = 0

for every_num in mylist:
    list_sum = list_sum + every_num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [82]:
list_sum = 0

for every_num in mylist:
    list_sum = list_sum * every_num
    print(list_sum)

0
0
0
0
0
0
0
0
0
0

In [83]:
list_sum = 2

for every_num in mylist:
    list_sum = list_sum * every_num
    print(list_sum)

2
4
12
48
240
1440
10080
80640
725760
7257600

In [77]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [84]:
list_sum = 1

for every_num in mylist:
    list_sum = list_sum * every_num
    print(list_sum)

1
2
6
24
120
720
5040
40320
362880
3628800

In [80]:
1*2*3*4*5*6*7*8*9*10

3628800

In [85]:
list_sum = 0

for every_num in mylist:
    list_sum = list_sum + every_number
    
    print(list_sum)

10
20
30
40
50
60
70
80
90
100

In [86]:
every_number

10

In [87]:
every_jelly

10

In [89]:
every_num

10

In [90]:
num

10

In [91]:
list_sum

100

In [92]:
list_sum = 0

for every_num in mylist:
    list_sum = list_sum + every_num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [93]:
list_sum

55

In [95]:
mystring = 'Hello World'

for every_letter in mystring:
    print(every_letter)

H
e
l
l
o

W
o
r
l
d

In [96]:
mystrying = 'Hello World'

for every_letter in mystring:
    print('Hi')

Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi

In [97]:
every_letter

'd'

In [98]:
print(every_letter)

d

In [99]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [100]:
print(letter)

d

In [101]:
mystring = 'Hello World'

for _ in mystring:
    print(_)

H
e
l
l
o

W
o
r
l
d

In [102]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [104]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

# Tuples

In [105]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

# Tuple Unpacking

Tuples have little bit of special quality when it comes to **for loop**, so if you are iterating a sequence that contains itself tuples, the items can be used with **tuple unpacking**.

In [106]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [107]:
len(mylist)

4

In [108]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

This sort of data structure is extremely common in Python and later on we're going to see that a lot of built in Python functions actually take advantage of this built in structure and return back tuples inside of a list. And the reason for that is something called tuple unpacking.

In [109]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [110]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [111]:
for a,b in mylist:
    print(a,b)

1 2
3 4
5 6
7 8

In [112]:
for a,b in mylist:
    print(b)

2
4
6
8

In [128]:
for a,b in mylist:
    if a % 2 > 0:
        print('Its odd')
for a,b in mylist:
    if b % 2 == 0:
        print('Its Even')

Its odd
Its odd
Its odd
Its odd
Its Even
Its Even
Its Even
Its Even

In [132]:
for a,b in mylist:
    if a % 2 > 0:
        print('Its Odd')
    else:
        print('Its Even')

Its Odd
Its Odd
Its Odd
Its Odd

In [133]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [135]:
for item in mylist:
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [136]:
for a,b,c in mylist:
    print(b)

2
5
8

**Now lets try iterating dictionary**

In [143]:
d = {'k1':1,'k2':'2','k3':3}

for item in d:
    print(item)

k1
k2
k3

In [145]:
d = {'K1':1,'k2':'2','k3':3}

for item in d.items():
    print(item)

('K1', 1)
('k2', '2')
('k3', 3)

In [146]:
d = {'K1':1,'k2':'2','k3':3}

for item in d.values():
    print(item)

1
2
3

In [147]:
d = {'K1':1,'k2':'2','k3':3}

for item in d.keys():
    print(item)

K1
k2
k3

In [156]:
d = {'k':1,'k2':'2','k3':3}

for key,value in d.items():
    print(value)

1
2
3

d = {'k':1,'k2':'2','k3':3}

for key,value in d.items():
    print(key)

In [163]:
d = {'k':1,'k2':'2','k3':3}

for key,value in d.items():
    print(value)

1
2
3

Rembember dictionaries are technically unordered. The above dictonary is a very small dictionary so it looks like everything is going in order. But if you have a very large dictionary there's no guarantee that things are going to be sorted in any sort of order.

So keep that in mind whwn you iterate through a dictioary there's no guarantee that you're going to get things back in the order you put them in.